!!!
%html  
  %head
    %title= content_for?(:title) ? yield(:title) : "Log Tracker"
    = stylesheet_link_tag "application", :media => :all
  %body
    %header
      %a.logo{:href => "/"}
        %span LOG TRACKER
        %span.updated-date Last Updated At: #{Log.first.occurred_at}
    = yield